<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>NGINX Web Application Firewall and Load Balancer </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>7</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.0">
      <projectUrl>https://github.com/DerSalvador/docker-nginx-waf/</projectUrl>
      <displayName>Docker NGINX WAF</displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:DerSalvador/docker-nginx-waf.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.28.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>docker build -t registry.brokerme.club:5000/brokerme/nginx-waf:latest .
docker push registry.brokerme.club:5000/brokerme/nginx-waf:latest</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.gitchangelog.GitChangelogRecorder plugin="git-changelog@1.52">
      <config>
        <configFile>git-changelog-settings.json</configFile>
        <createFileTemplateContent>&lt;h1&gt; Git Changelog changelog &lt;/h1&gt;

&lt;p&gt;
Changelog of Git Changelog.
&lt;/p&gt;

{{#tags}}
&lt;h2&gt; {{name}} &lt;/h2&gt;
 {{#issues}}
  {{#hasIssue}}
   {{#hasLink}}
&lt;h2&gt; {{name}} &lt;a href=&quot;{{link}}&quot;&gt;{{issue}}&lt;/a&gt; {{title}} &lt;/h2&gt;
   {{/hasLink}}
   {{^hasLink}}
&lt;h2&gt; {{name}} {{issue}} {{title}} &lt;/h2&gt;
   {{/hasLink}}
  {{/hasIssue}}
  {{^hasIssue}}
&lt;h2&gt; {{name}} &lt;/h2&gt;
  {{/hasIssue}}


   {{#commits}}
&lt;a href=&quot;https://github.com/tomasbjerre/git-changelog-lib/commit/{{hash}}&quot;&gt;{{hash}}&lt;/a&gt; {{authorName}} &lt;i&gt;{{commitTime}}&lt;/i&gt;
&lt;p&gt;
&lt;h3&gt;{{{messageTitle}}}&lt;/h3&gt;

{{#messageBodyItems}}
 &lt;li&gt; {{.}}&lt;/li&gt; 
{{/messageBodyItems}}
&lt;/p&gt;
  {{/commits}}

 {{/issues}}
{{/tags}}
</createFileTemplateContent>
        <createFileTemplateFile></createFileTemplateFile>
        <createFileUseTemplateContent>true</createFileUseTemplateContent>
        <createFileUseTemplateFile>false</createFileUseTemplateFile>
        <customIssues>
          <org.jenkinsci.plugins.gitchangelog.config.CustomIssue>
            <link></link>
            <name></name>
            <pattern></pattern>
            <title></title>
          </org.jenkinsci.plugins.gitchangelog.config.CustomIssue>
          <org.jenkinsci.plugins.gitchangelog.config.CustomIssue>
            <link></link>
            <name></name>
            <pattern></pattern>
            <title></title>
          </org.jenkinsci.plugins.gitchangelog.config.CustomIssue>
        </customIssues>
        <dateFormat>YYYY-MM-dd HH:mm:ss</dateFormat>
        <file>CHANGELOG.html</file>
        <fromReference></fromReference>
        <fromType>firstCommit</fromType>
        <gitHubApi> https://api.github.com/repos/DerSalvador/docker-nginx-waf</gitHubApi>
        <gitHubIssuePattern>#([0-9]+)</gitHubIssuePattern>
        <gitHubToken></gitHubToken>
        <gitLabServer></gitLabServer>
        <gitLabProjectName></gitLabProjectName>
        <gitLabToken></gitLabToken>
        <useGitLab>false</useGitLab>
        <ignoreCommitsIfMessageMatches>^\[maven-release-plugin\].*|^\[Gradle Release Plugin\].*|^Merge.*</ignoreCommitsIfMessageMatches>
        <ignoreCommitsWithoutIssue>false</ignoreCommitsWithoutIssue>
        <ignoreTagsIfNameMatches></ignoreTagsIfNameMatches>
        <jiraIssuePattern>\b[a-zA-Z]([a-zA-Z]+)-([0-9]+)\b</jiraIssuePattern>
        <jiraPassword></jiraPassword>
        <jiraServer></jiraServer>
        <jiraUsername></jiraUsername>
        <jiraUsernamePasswordCredentialsId></jiraUsernamePasswordCredentialsId>
        <useJiraUsernamePasswordCredentialsId>false</useJiraUsernamePasswordCredentialsId>
        <mediaWikiPassword></mediaWikiPassword>
        <mediaWikiTemplateContent>__NOTOC__

= Git Changelog changelog =
Changelog of Git Changelog.

{{#tags}}
== {{name}} ==
 {{#issues}}
  {{#hasIssue}}
   {{#hasLink}}
=== {{name}} [{{link}} {{issue}}] {{title}} ===
   {{/hasLink}}
   {{^hasLink}}
=== {{name}} {{issue}} {{title}} ===
   {{/hasLink}}
  {{/hasIssue}}
  {{^hasIssue}}
=== {{name}} ===
  {{/hasIssue}}

   {{#commits}}
[https://github.com/tomasbjerre/git-changelog-lib/commit/{{hash}} {{hash}}] {{authorName}} {{commitTime}}

&apos;&apos;&apos;{{{messageTitle}}}&apos;&apos;&apos;

{{#messageBodyItems}}
 * {{.}} 
{{/messageBodyItems}}

  {{/commits}}

 {{/issues}}
{{/tags}}
</mediaWikiTemplateContent>
        <mediaWikiTemplateFile></mediaWikiTemplateFile>
        <mediaWikiTitle></mediaWikiTitle>
        <mediaWikiUrl></mediaWikiUrl>
        <mediaWikiUsername></mediaWikiUsername>
        <mediaWikiUseTemplateContent>false</mediaWikiUseTemplateContent>
        <mediaWikiUseTemplateFile>false</mediaWikiUseTemplateFile>
        <noIssueName>No issue</noIssueName>
        <readableTagName>/([^/]+?)$</readableTagName>
        <showSummary>true</showSummary>
        <showSummaryTemplateContent>&lt;h1&gt; Git Changelog changelog &lt;/h1&gt;

&lt;p&gt;
Changelog of Git Changelog.
&lt;/p&gt;

{{#tags}}
&lt;h2&gt; {{name}} &lt;/h2&gt;
 {{#issues}}
  {{#hasIssue}}
   {{#hasLink}}
&lt;h2&gt; {{name}} &lt;a href=&quot;{{link}}&quot;&gt;{{issue}}&lt;/a&gt; {{title}} &lt;/h2&gt;
   {{/hasLink}}
   {{^hasLink}}
&lt;h2&gt; {{name}} {{issue}} {{title}} &lt;/h2&gt;
   {{/hasLink}}
  {{/hasIssue}}
  {{^hasIssue}}
&lt;h2&gt; {{name}} &lt;/h2&gt;
  {{/hasIssue}}


   {{#commits}}
&lt;a href=&quot;https://github.com/tomasbjerre/git-changelog-lib/commit/{{hash}}&quot;&gt;{{hash}}&lt;/a&gt; {{authorName}} &lt;i&gt;{{commitTime}}&lt;/i&gt;
&lt;p&gt;
&lt;h3&gt;{{{messageTitle}}}&lt;/h3&gt;

{{#messageBodyItems}}
 &lt;li&gt; {{.}}&lt;/li&gt; 
{{/messageBodyItems}}
&lt;/p&gt;


  {{/commits}}

 {{/issues}}
{{/tags}}
</showSummaryTemplateContent>
        <showSummaryTemplateFile></showSummaryTemplateFile>
        <showSummaryUseTemplateContent>false</showSummaryUseTemplateContent>
        <showSummaryUseTemplateFile>false</showSummaryUseTemplateFile>
        <subDirectory></subDirectory>
        <timeZone>UTC</timeZone>
        <toReference></toReference>
        <toType>master</toType>
        <untaggedName>Unreleased</untaggedName>
        <useConfigFile>false</useConfigFile>
        <useFile>true</useFile>
        <useGitHub>true</useGitHub>
        <useIgnoreTagsIfNameMatches>false</useIgnoreTagsIfNameMatches>
        <useJira>false</useJira>
        <useMediaWiki>false</useMediaWiki>
        <useReadableTagName>false</useReadableTagName>
        <useSubDirectory>false</useSubDirectory>
        <gitHubApiTokenCredentialsId>3bb6c2b8-ca3d-45c5-8d6b-d58e7200a2c3</gitHubApiTokenCredentialsId>
        <useGitHubApiTokenCredentials>true</useGitHubApiTokenCredentials>
        <useGitLabApiTokenCredentials>false</useGitLabApiTokenCredentials>
        <gitLabApiTokenCredentialsId></gitLabApiTokenCredentialsId>
      </config>
    </org.jenkinsci.plugins.gitchangelog.GitChangelogRecorder>
  </publishers>
  <buildWrappers/>
</project>